In [ ]:
import re
import pandas as pd                                                             # Importing the pandas library to work with data frames
import numpy as np                                                              # Importing the numpy library for numerical operations
from plotnine import *                                                          # Importing the plotnine library for data visualization
from pandas import DataFrame, read_csv                                          # Importing the DataFrame and read_csv functions from pandas library
from wordcloud import WordCloud                                                 # Importing the WordCloud function from wordcloud library
import matplotlib.pyplot as plt                                                 # Importing the matplotlib.pyplot library for data visualization
%matplotlib inline

In [ ]:
import os                                                                        # Importing the os library to interact with the operating system
os.getcwd()                                                                      # checking the current working directory

'/content'

In [ ]:
import pandas as pd

def clean_datasets(file_paths, output_paths):                                   # creating a function to process multiple CSV files

    for i, file_path in enumerate(file_paths):

        df = pd.read_csv(file_path)                                             # Reading the CSV file

        columns_to_drop = ["status", "wifi", "aircraft"]
        df = df.drop(columns=columns_to_drop, errors='ignore')

        df_cleaned = df[df.isnull().sum(axis=1) = 0]                            # Removing rows with null values

        df_cleaned.to_csv(output_paths[i], index=False)                         # Saving the cleaned dataset to new CSV file
        print(f"Cleaned data saved to {output_paths[i]}")

# File Paths:
input_files = ['/Air_India.csv', '/Indigo.csv', '/Spicejet.csv', '/Vistara.csv']
output_files = ['AI_cleaned.csv', 'IN_cleaned.csv', 'SJ_cleaned.csv', 'VS_cleaned.csv']

# Call the function
clean_datasets(input_files, output_files)

Cleaned data saved to AI_cleaned.csv
Cleaned data saved to IN_cleaned.csv
Cleaned data saved to SJ_cleaned.csv
Cleaned data saved to VS_cleaned.csv

In [ ]:
def readData():
    colnames_reviews = ['travel_type', 'travel_class', 'route', 'date', 'seating_comfort', 'staff_service', 'food_quality', 'entertainment', 'ground_service', 'value_for_money', 'recommended', 'overall_rating', 'review','Airlines']

    IN = pd.read_csv("/content/IN_cleaned.csv",header = None,names = colnames_reviews, skiprows=1)
    VS = pd.read_csv("/content/VS_cleaned.csv",header = None,names = colnames_reviews, skiprows=1)
    AI = pd.read_csv("/content/AI_cleaned.csv",header = None,names = colnames_reviews, skiprows=1)
    SJ = pd.read_csv("/content/SJ_cleaned.csv",header = None,names = colnames_reviews, skiprows=1)
    return pd.concat([IN,VS, AI, SJ])                                           # Stacking the data of different Airlines to create a single dataframe for analysis

In [ ]:
df_reviews = readData()                                                         # Calling the readData() function to create a single dataframe

In [ ]:
df_reviews = df_reviews.drop_duplicates(keep='first')                           # Removing duplicate rows from the dataframe

In [ ]:
def stripChar(df_reviews):                                                               # removing special characters from the data
    try:
        return re.sub("[()\"]","",df_reviews)
    except:
        return np.nan

In [ ]:
df_reviews.recommended = df_reviews.recommended.eq('yes').mul(1)                # Recoding the recommended column to binary values

In [ ]:
df_reviews['date'] = pd.to_datetime(df_reviews['date'])                         # Converting the date column to datetime format

<ipython-input-25-a0049c5947d0>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

In [ ]:
df_reviews['year'] = df_reviews['date'].dt.year                                 # Extracting the year from the date column
df_reviews['month'] = df_reviews['date'].dt.month                               # Extracting the month from the date column

In [ ]:
df_reviews.head(5)

,travel_type,travel_class,route,date,seating_comfort,staff_service,food_quality,entertainment,ground_service,value_for_money,recommended,overall_rating,review,Airlines,year,month
0,Solo Leisure,Economy Class,Bangalore to Paris via Delhi,2024-08-01,2.0,1.0,2.0,1.0,1.0,1.0,0,1.0,Had a flight on 31 August from Bangalore to...,Indigo,2024,8
1,Family Leisure,Economy Class,Sydney to Amritsar via Delhi,2024-09-01,3.0,4.0,1.0,1.0,1.0,2.0,0,1.0,I had the worst experience with Air India. ...,Indigo,2024,9
2,Business,Business Class,London to Delhi,2024-09-01,5.0,5.0,5.0,5.0,5.0,5.0,1,10.0,My husband left his passport at home and is f...,Indigo,2024,9
3,Family Leisure,Economy Class,Delhi to Sydney,2024-09-01,1.0,1.0,2.0,1.0,2.0,1.0,0,1.0,"On the way in from Sydney to Delhi , there ...",Indigo,2024,9
4,Family Leisure,Economy Class,Kochi to Vancouver,2023-12-01,1.0,1.0,1.0,1.0,1.0,1.0,0,1.0,"This is the worst airlines anyone can choose,...",Indigo,2023,12

In [ ]:
df_reviews.to_csv('Airline_Reviews_Combined.csv',index=False)                   # exporting the final data file